body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: cursive;
}

.container{
    background-color: lightpink;
    border-radius: 8px;
    width: 400px;
    padding: 15px;
    margin: 5px;
    box-shadow: 2px 3px 8px black;
}

.textarea{
    resize: none;
    width: 100%;
    height: 150px;
    font-size: 16px;
    font-family: cursive;
    box-sizing: border-box;
    padding: 7px;
    border: solid;
    border-radius: 7px;
}

.counter-container{
    display: flex;
    justify-content: space-between;
}

.counter-container p{
    font-size: 18px;
}

.total{
    color: blue;
}

.remaining{
    color: red;
}
